# DATABASE

DB_HOST=localhost
DB_PORT=5432
DB_NAME=global-booking-service-auth-db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT SECRET
JWT_SECRET=change-me
ACCESS_TOKEN_EXPIRATION: 900000
REFRESH_TOKEN_EXPIRATION: 604800000